
@{
    ViewData["Title"] = "DeleteHorse";
}

<h2>DeleteHorse</h2>
@using (Html.BeginForm())
{
    <h1>Czy chcesz usunąć konia ?</h1>
    <input value="Tak" type="submit" class="btn btn-danger" />
    @Html.ActionLink("Wróć", "GetHorses", "Horse", (object)null, new { @class = "btn btn-warning" })
}
