@model RidingClubMS.BLL.Entities.Horse 
@{
    ViewData["Title"] = "GetHorse";
}

<h2>GetHorse</h2>
<div>
    <h2>@Model.HorseName</h2>
    <h2>@Model.HorseBreed</h2>
    <h2>@Model.DateOfBirth</h2>
</div>

